@model Pk.Models.Computador

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Adicionar</title>
</head>

<body>

    <h4>Computador</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Criar">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Tombamento" class="control-label"></label>
                    <input asp-for="Tombamento" class="form-control" />
                    <span asp-validation-for="Tombamento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Modelo" class="control-label"></label>
                    <input asp-for="Modelo" class="form-control" />
                    <span asp-validation-for="Modelo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Processador" class="control-label"></label>
                    <input asp-for="Processador" class="form-control" />
                    <span asp-validation-for="Processador" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Memoria" class="control-label"></label>
                    <input asp-for="Memoria" class="form-control" />
                    <span asp-validation-for="Memoria" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ArmazenamentoInterno" class="control-label"></label>
                    <input asp-for="ArmazenamentoInterno" class="form-control" />
                    <span asp-validation-for="ArmazenamentoInterno" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-control" asp-items="ViewBag.Status"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Responsavel" class="control-label"></label>
                    <input asp-for="Responsavel" class="form-control" />
                    <span asp-validation-for="Responsavel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Observacao" class="control-label"></label>
                    <textarea asp-for="Observacao" class="form-control" ></textarea>
                    <span asp-validation-for="Observacao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Criar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Voltar</a>
    </div>
</body>

</html>