@model Pk.Models.Computador

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
</head>

<body>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Editar">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Tombamento" class="control-label"></label>
                    <input asp-for="Tombamento" class="form-control" />
                    <span asp-validation-for="Tombamento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Modelo" class="control-label"></label>
                    <input asp-for="Modelo" class="form-control" />
                    <span asp-validation-for="Modelo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Processador" class="control-label"></label>
                    <input asp-for="Processador" class="form-control" />
                    <span asp-validation-for="Processador" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Memoria" class="control-label"></label>
                    <input asp-for="Memoria" class="form-control" />
                    <span asp-validation-for="Memoria" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ArmazenamentoInterno1" class="control-label"></label>
                    <input asp-for="ArmazenamentoInterno1" class="form-control" />
                    <span asp-validation-for="ArmazenamentoInterno1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ArmazenamentoInterno2" class="control-label"></label>
                    <input asp-for="ArmazenamentoInterno2" class="form-control" />
                    <span asp-validation-for="ArmazenamentoInterno2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-control" asp-items="ViewBag.Status"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Responsavel" class="control-label"></label>
                    <input asp-for="Responsavel" class="form-control" />
                    <span asp-validation-for="Responsavel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProcessoAquisicao" class="control-label"></label>
                    <input asp-for="ProcessoAquisicao" class="form-control" />
                    <span asp-validation-for="ProcessoAquisicao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cautela" class="control-label"></label>
                    <input asp-for="Cautela" class="form-control" />
                    <span asp-validation-for="Cautela" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Origem" class="control-label"></label>
                    <input asp-for="Origem" class="form-control" />
                    <span asp-validation-for="Origem" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Destino" class="control-label"></label>
                    <input asp-for="Destino" class="form-control" />
                    <span asp-validation-for="Destino" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Observacao" class="control-label"></label>
                    <textarea asp-for="Observacao" class="form-control" ></textarea>
                    <span asp-validation-for="Observacao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>

</html>