@{
    ViewData["Title"] = "Home Page";
}

<a class="btn btn-danger" asp-area="" asp-controller="Marcas" asp-action="Index">Marcas</a>
<a class="btn btn-danger" asp-area="" asp-controller="Modelos" asp-action="Index">Modelos</a>
<a class="btn btn-danger" asp-area="" asp-controller="Processadores" asp-action="Index">Processadores</a>
<a class="btn btn-danger" asp-area="" asp-controller="Setores" asp-action="Index">Setores</a>
