@{
    ViewData["Title"] = "Home Page";
}

<a href="" class="cartao-igor row">
    <div class="col-sm-3">
        <i class="fa fa-id-card" aria-hidden="true"></i>
    </div>
    <div class="col-sm-9">
        DOCUMENTOS
        NECESSÁRIOS
    </div>

</a>

<div class="botao-acao5">
    
</div>
