<div class="modal fade" id="modalMovimentacaoPc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Destino</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="setorId" class="col-form-label">Setor:</label>
                    <select name="setor" class="form-control" id="pc_setorId">
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <input type="submit" class="btn btn-primary" data-dismiss="modal" onclick="PostMovimentacao()"/>
            </div>
        </div>
    </div>
</div>

<script src="~/js/pages/movimentacoesPc.js" asp-append-version="true"></script>