<div class="modal fade" id="modalHistoricoMovimentacaoMonitor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Histórico de movimentações</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <ul id="historico">
                        <li>CPPO - 04/10/2021 09:30</li>
                        <li>Projur - 15/09/2021 11:15</li>
                        <li>CAF - 21/10/2021 13:05</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/pages/movimentacoesMonitor.js" asp-append-version="true"></script>