@model Pk.Models.Equipamento

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Adicionar</title>
</head>

<body>

    <h4>Equipamento</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Criar">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Tombamento" class="control-label"></label>
                    <input asp-for="Tombamento" class="form-control" />
                    <span asp-validation-for="Tombamento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Categoria" class="control-label"></label>
                    <select asp-for="Categoria" class="form-control" asp-items="ViewBag.Categoria"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <textarea asp-for="Descricao" class="form-control"></textarea>
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Origem" class="control-label"></label>
                    <input asp-for="Origem" class="form-control" />
                    <span asp-validation-for="Origem" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Destino" class="control-label"></label>
                    <input asp-for="Destino" class="form-control" />
                    <span asp-validation-for="Destino" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Responsavel" class="control-label"></label>
                    <input asp-for="Responsavel" class="form-control" />
                    <span asp-validation-for="Responsavel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProcessoAquisicao" class="control-label"></label>
                    <input asp-for="ProcessoAquisicao" class="form-control" />
                    <span asp-validation-for="ProcessoAquisicao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cautela" class="control-label"></label>
                    <input asp-for="Cautela" class="form-control" />
                    <span asp-validation-for="Cautela" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-control" asp-items="ViewBag.Status"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Observacao" class="control-label"></label>
                    <textarea asp-for="Observacao" class="form-control"></textarea>
                    <span asp-validation-for="Observacao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Criar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Voltar</a>
    </div>
</body>

</html>